.page__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 30px;
    z-index: 1;
}

.page__title p {
    font-family: 'Honk';
    line-height: 80px;
    text-align: center;
    letter-spacing: 3px;
    color: aliceblue;
    margin: 0;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 100px;
}