@import "global/fonts";


body {
    background: rgb(35, 35, 35);
    margin: 0;
    height: 100vh;
}

.page__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 30px;
}

.nonogram__title p {
    font-family: 'Honk';
    line-height: 30px;
    letter-spacing: 3px;
    color: aliceblue;
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 100px;
}

.nonogram__wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.hints {
    color: white;
}

.row-hints {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-right: 30px;
    height: auto;
    line-height: 60px;
}

.col-hints {
    writing-mode: vertical-lr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    line-height: 60px;
    margin-bottom: 30px;

    .hint {
        transform: rotate(-90deg);
    } 
}

table {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    outline: 5px solid rgb(134, 134, 134);
    display: block;
    /* width: 304px; */
    /* height: 304px; */
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

td {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;

    &:hover {
        background-color: gray;
    }
}
