body {
    background-color: #ffffff;
    margin: 0;
}

.nonogram__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 30px;
}

.nonogram__title p {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
}


table {
    margin-left: auto;
    margin-right: auto;
    outline: 5px solid rgb(134, 134, 134);
    display: block;
    width: 304px;
    height: 304px;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

td {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;

    &:hover {
        background-color: gray;
    }
}